@use '../screen';

.container {
    display: fixed;
}

#scroll-down {
    z-index: 2;
    color: white;
    position: fixed;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;

    @media screen and (max-width: screen.$small) {
        bottom: 2rem;
    }

    #socials {
        svg {
            width: 2rem;
            height: 2rem;
            margin-left: 0.5rem;
        }
    }

    @media screen and (max-width: screen.$small) {
        #socials {
            svg {
                display: none;
            }
        }
    }
}