@use '../colors';

.container {
    padding-top: 10vh;
    width: 50%;
    margin: auto;

    .from-token {
        input {
            margin-top: 1rem;
            width: 100%;
        }
    }

    .switch-tokens {
        margin: 2rem auto;
    }

    .to-token {
        input {
            margin-top: 1rem;
            width: 100%;
        }
    }

    .details {
        margin: 2rem 0;

        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .convert-button-container {
        button {
            width: 100%;
        }
    }
}