.fade-in {
    animation: fade-in 0.5s ease-in-out forwards;
}

.fade-in-delay {
    animation: fade-in-delay 1s ease-in-out forwards;
}

.fade-in-fast {
  animation: fade-in 0.2s ease-in-out forwards;
}

@keyframes fade-in-delay {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-in {
    from {
      opacity: 0;
      visibility: hidden;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
  }
  
.fade-out {
    animation: fade-out 0.5s ease-in-out forwards;
}

.fade-out-fast {
    animation: fade-out 0.2s ease-in-out forwards;
}

@keyframes fade-out {
    from {
      opacity: 1;
      visibility: visible;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
}
  
  