@use './screen';

.project-container {
    position: fixed;
    padding: 17.5vh 20vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: screen.$small) {
        display: none;
    }

    h1 {
        margin: 0;
        min-width: max-content;
    }

    hr {
        margin: 0;
        height: 6px;
        background-color: #ffffff;
    }

    >div {
        width: 75%;
        max-width: 800px;
        min-width: 600px;

        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .float-right {
        >div {
            flex-direction: row-reverse;
        }

        .icons {
            margin-left: 2rem;
        }

        @media screen and (min-width: 1200px) {
            align-self: flex-end;
            
            >div {
                flex-direction: row;
            }

            p {
                text-align: right;
            }
            hr {
                margin-left: auto;
            }
        }
            
    }

    .icons {
        position: relative;
        top: 1rem;
    }

    .expand-out {
        animation: animateOut 0.5s ease-out forwards;
    }

    .retract-in {
        animation: animateIn 0.5s ease-out forwards;
    }
}

.project-container-mobile {
    position: fixed;
    padding: 17.5vh 12.5vw;
    width: 100%;
    height: 100%;
    display: none;

    @media screen and (max-width: screen.$small) {
        display: flex;
        justify-content: center;
    }

    >div {
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: calc(100% - 35vh);

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            >div {
                position: relative;
                top: 1.3rem;
                left: 1.5rem;
            }
        }

        h1 {
            margin: 1rem 0;
            text-align: center;
            font-size: 1.5rem;
        }

        hr {
            margin: 0;
            height: 4px;
            background-color: #ffffff;
        }
    }

    .expand-out {
        animation: animateOut 0.5s ease-out forwards;
    }

    .retract-in {
        animation: animateIn 0.5s ease-out forwards;
    }
}

@keyframes animateOut {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes animateIn {
    0% {
        width: 100%;
    }

    99% {
        opacity: 1;
    }

    100% {
        width: 0;
        opacity: 0;
    }
}
  